@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.innerdiv{
    padding:5px;
    border-radius:20px;
    width:30%;
    background-color: rgb(57 49 132);
    border: 1px solid black;
    height:60px;
}
.icon_box{
    width:6%;
   
}
.text_box{
    width:255px;
}
.innerdiv p{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:16px;
  font-variation-settings:
    "wdth" 100;
}

.outerdiv{
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    /* justify-content: center; */
    align-items: center;
}

.icon_box i{
    font-size:25px;
}