table {
    width: 100%;
    /* border-collapse: collapse; */
    /* background-color: var(--blueAccent-500); */
    text-align: center;
  }
  th, td {
    border: 1px solid black;
    /* padding: 8px; */
    width:50%;
    /* text-align: left; */
  }
  .tableHeader{
    background-color: var(--blueAccent-500);
  }
  th {
    
  }

  .bgChange{
    background-color: #f2f2f2;
  }

  .usertable {
    border:none;
    width:100%;
    font-size:17px;
    text-align:left
  }



  .user{
    justify-content: space-around;
  }

  .userbutton{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }

  .userdetails{
    justify-content: space-between;
  }

  .detail1{
    
    justify-content: space-around;
  }

   .detail1 p{
    font-size:16px;
   }